services:
  - type: web
    name: pathway-intake-backend
    env: node
    buildCommand: npm install && node seeder.js
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRE
        value: 30d
      - key: PORT
        value: 4000
    buildFilter:
      paths:
        - package.json
        - package-lock.json
      ignoredPaths:
        - node_modules